{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block content %}
    <h1>Search Results for "{{ query }}"</h1>

    {% if results is empty %}
        <p>No results found.</p>
    {% else %}
        <ul>
            {% for result in results %}
                <li>
                    <strong>Name:</strong> {{ result['name'] }}<br>
                    <strong>Email:</strong> {{ result['email'] }}<br>
                    <strong>Verification Result:</strong> {{ result['emailVerifyResult'] }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
