<!DOCTYPE html>
<html>
<head>
    <title>Asset Mapper Test 2</title>

    <link rel="stylesheet" href="{{ asset('styles/test2.css') }}">
</head>
<body>
<h1>Asset Mapper Test</h1>
<h2>Test 2: New JS and CSS</h2>
<div>Если вы видите этот текст, то Asset Mapper работает корректно!</div>
</body>
<script type="module" src="{{ asset('test2.js') }}"></script>
</html>
